<ion-content [fullscreen]="true" class="home-content">
  <div class="home-container">
    <div class="home-center">
      <h1 class="app-title">
        Afteer
      </h1>
      <p class="app-subtitle">
        The App That Saves Your<br>
        Words, Memories, and Emotions<br>
        for the Future
      </p>
      <ion-button 
        class="participate-btn gradient-btn" 
        (click)="goToLogin()"
        expand="block">
        to participate
      </ion-button>
    </div>
  </div>
</ion-content>

